@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.container-global{
    width: 100%;
    height: 100vh;
    background-image: url(./imagens/bg.jpg);
    background-position: center 0;
    background-size: 118%;
}
.container{
    padding-top: 45px;

    max-width: 1183px;
   
    margin: 0 auto;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
 .logo1{

 }
.tipo-botao{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: white;
    border: 2px solid rgba(255,255,255,0.75);
    font-size: 16px;
}
.tipo-botao:hover{
    transition: all 0.2s;
    background-color: #33c;
    border-color: #33c;
}